.content {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.carousel-item {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list_box {
  padding: 50px 0;
}
.list_box-click {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  /* background: #f7f7f7; */
  backdrop-filter: blur(30px);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  width: fit-content;
}
.list_box-click button {
  background: none;
  color: #0b1627;
  transition: 0.3s ease-in-out;
  border: none;
  padding: 8px;
  font-weight: 700;
  margin: 0 10px;
  border-radius: 10px;
}
.list_box-click button:hover {
  background: #0b1627;
  color: #fff;
}
.list_box-click button.active {
  background: #0b1627;
  color: #fff;
}
.list_box-item {
  /* background: #f7f7f7; */
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}
.container1 {
  position: relative;
}
.container1_img {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.container1_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list_box-item {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}
.list_box-item1 {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid transparent;
  margin: 10px 0;
}

.list_box-item1:hover {
  border: 1px solid #0b1627;
}

.event {
}

.event1 {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
}

.event1:hover {
  transform: translateY(-10%);
}

.event1:hover:nth-last-child(1) {
  transform: none;
}

.event1:nth-last-child(1) {
  background: none;
  box-shadow: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content_img {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
.content_img-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.content_img p {
  font-size: 30px;
  font-weight: 800;
}
.event1 h2 {
  font-size: 35px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-align: left;
  font-weight: 800;
}

.event1 h2:hover {
  color: #ffbd59;
}
.event1 {
  text-align: center;
}



.containerqq {
  margin: 30px 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 30% 30% 30% ;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.fiter {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.fiter input {
  border: none;
  outline: none;
  width: 100%;
}
.fiter i {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b1627;
  border: 1px solid #0b1627;
  color: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.fiter i:hover {
  background: none;
  color: #0b1627;
  border: none;
}
.fiter1 select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 40px;

}
.fiter1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fiter1 input {
margin-left: 20px;
  width: 180px;
  padding: 8px;
  border-radius: 8px;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
}