<div class="content">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/image/banner-1.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/image/banner-2.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/image/banner-3.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container1">
  <div class="container1_img">
    <img src="../../assets/image/bg22.jpg" alt="" />
  </div>
  <div class="list_box">
    <div class="list_box-click">
      <button class="active" (click)="opt1(0)" [class.active]="activeTab === 0" >COMMING UP</button>
      <button  (click)="opt2(1)"  [class.active]="activeTab === 1">THE LAST MATCH</button>
    </div>
    <div class="containerqq">
        <div class="fiter">
            <input
              type="text"
              placeholder="Search Tournaments.."
              (change)="playOnChange($event)"
            />
            <i class="fa-brands fa-searchengin"></i>
          </div>
        <div class="fiter">
          <input
            type="text"
            placeholder="Search Team"
            (change)="playsoccer($event)"
          />
          <i class="fa-brands fa-searchengin"></i>
        </div>
        <div class="fiter1">
          <label for="">Ngày Thi Đấu</label>

          <input
            type="date"
            placeholder="Search Nationality"
            (change)="playpos($event)"
          />
        </div>
        
      </div>
    <div class="list_box-item">
       
      <div class="list_box-item1" *ngFor="let data of data" (click)="router1()">
        <div class="event1">
          <p>{{data.DateandTime}}</p>
          <div class="content_img">
            <div class="content_img-logo">
              <img src="{{data.urlH}}" alt="" />
            </div>
            <p>{{data.Result}}</p>
            <div class="content_img-logo">
              <img src="{{data.urlG}}" alt="" />
            </div>
          </div>
          <p>Permier Leagen</p>
        </div>
      </div>
      
    </div>
  </div>
</div>
