<div class="backhome">
  <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
</div>
<div class="header">
  <div class="time">
    <div class="time_item">
      <i class="fa-regular fa-clock"></i>
      Mon - Fri : 09:00 - 17:00
    </div>
    <div class="time_item">
      <i class="fa-regular fa-paper-plane"></i> soccerverses@gmail.com
    </div>
    <div class="time_item">
      <i class="fa-solid fa-square-phone"></i>039 821 5896
    </div>
  </div>
  <div class="icon">
    <i class="fa-brands fa-square-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
</div>

<div class="navbar">
  <div class="logo">
    <li routerLink="">
      <img src="../assets/image/lg.png" alt="" />
    </li>
  </div>
  <div class="bar" (click)="open()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="menu" #check>
    <div class="bar yy" (click)="close()">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <ul class="menu_cha">
      <li routerLink="">Home</li>
      <li routerLink="/matchdetails">Matchdetails</li>
      <li routerLink="/shop">Tickets</li>
      <li routerLink="/tintuc">Blog</li>
      <li routerLink="/contact">Contact</li>
    </ul>
    <button class="btn1" routerLink="/login" style="margin-left: 30px">
      Login
    </button>
  </div>
</div>

<router-outlet> </router-outlet>

<div class="footer">
  <div class="footer_box">
    <p class="eee">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry’s standard dummy text . When an unknown
      printer took a galley of type and scrambled it to make a type specimen
      book.
    </p>
  </div>
  <div class="footer_box">
    <h2>Important Links</h2>
    <ul>
      <li>About <span></span></li>
      <li>Contact <span></span></li>
      <li>FAQ <span></span></li>
      <li>Blog <span></span></li>
      <li>Shop <span></span></li>
    </ul>
  </div>
  <div class="footer_box">
    <h2>Contact Info</h2>
    <!-- item 1 -->
    <div class="footer_box_text">
      <div class="footer_box_text1">
        <i class="fa-solid fa-location-dot"></i>
        <h3>Location:</h3>
      </div>
      <p>344 Joes Road, Kinderhook, NY, New York 12106.</p>
    </div>
    <!-- item 2 -->
    <div class="footer_box_text">
      <div class="footer_box_text1">
        <i class="fa-solid fa-location-dot"></i>
        <h3>Location:</h3>
      </div>
      <p>344 Joes Road, Kinderhook, NY, New York 12106.</p>
    </div>
    <!-- item 3 -->
    <div class="footer_box_text">
      <div class="footer_box_text1">
        <i class="fa-solid fa-location-dot"></i>
        <h3>Location:</h3>
      </div>
      <p>344 Joes Road, Kinderhook, NY, New York 12106.</p>
    </div>
  </div>

  <div class="footer_box">
    <div class="Teacher_box resize">
      <h3>Become a Teacher</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <button class="btn Join">Join With US</button>
    </div>
  </div>
</div>
